:root {
    --pf-global--FontFamily--sans-serif: "Poppins-Regular", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--heading--sans-serif: "Poppins-Regular", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--monospace: "Liberation Mono", consolas, "SFMono-Regular", menlo, monaco, "Courier New", monospace;
    --pf-global--FontFamily--redhat-updated--sans-serif: "Poppins-Regular", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--redhat-updated--heading--sans-serif: "Poppins-Regular", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--redhat--monospace: "RedHatMono", "Liberation Mono", consolas, "SFMono-Regular", menlo, monaco, "Courier New", monospace;
    --pf-global--FontFamily--redhatVF--sans-serif: "RedHatTextVF", "RedHatText", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--redhatVF--heading--sans-serif: "RedHatDisplayVF", "RedHatDisplay", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--redhatVF--monospace: "RedHatMonoVF", "RedHatMono", "Liberation Mono", consolas, "SFMono-Regular", menlo, monaco, "Courier New", monospace;
    --pf-global--FontFamily--overpass--sans-serif: "overpass", overpass, "open sans", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --pf-global--FontFamily--overpass--monospace: "overpass-mono", overpass-mono, "SFMono-Regular", menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;

    /* COLOR OVERRIDES */
    /* --pf-c-button--m-primary--Color: #002858 !important;
    --pf-c-button--m-primary--BackgroundColor: #5EEED4  !important;  */
}

body {
    font-family: 'Poppins-Regular',"Open Sans",Helvetica,Arial,sans-serif;
}

